@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.input {
  @apply border border-gray-300 rounded-md p-2;
}

.li {
  @apply list-none  py-[0] px-[20px]  text-text-light  hover:text-primary-color-dark font-medium transition-colors hidden md:inline-block after:hover:w-full after:hover:bg-black after:hover:h-[2px] after:hover:block after:hover:content-[''] after:hover:transition after:hover:ease-linear;
}

input[type='tel']:focus ~ .input-text,
input[type='tel']:not(:placeholder-shown) ~ .input-text {
  @apply text-black transform -translate-y-5 -translate-x-5 scale-75;
}
input[type='email']:focus ~ .input-text,
input[type='email']:not(:placeholder-shown) ~ .input-text {
  @apply text-black transform -translate-y-5 -translate-x-1 scale-75;
}
input[type='number']:focus ~ .input-text,
input[type='number']:not(:placeholder-shown) ~ .input-text {
  @apply text-black transform -translate-y-5 -translate-x-1 scale-75;
}
input[type='text']:focus ~ .input-text,
input[type='text']:not(:placeholder-shown) ~ .input-text {
  @apply text-black transform -translate-y-5 -translate-x-1 scale-75;
}
input[type='password']:focus ~ .input-text,
input[type='password']:not(:placeholder-shown) ~ .input-text {
  @apply text-black transform -translate-y-5 -translate-x-1 scale-75;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slideInFromLeft {
  animation: slideInFromLeft 0.3s ease-out;
}

.animate-slideOutToRight {
  animation: slideOutToRight 0.3s ease-out;
}
